*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    /* height: 70px; */
    background-color: #f8f9fa!important;
    display: flex;
    padding-top: 18px;
    opacity: 0.9;
}

.myun{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 19px;
    text-decoration: none;
  
}
.myun i{
    position: relative;
    left: 120px;
    font-size: 26px;
}

.myun li{
    margin-left:70px;
    padding-top: 2px;
    font-weight: 600;
}

.mylefty{
    height: 700px;
    background-color: #ff6262;
    color:white;
    width:27%;
    float: left;
    padding: 10px;
}

.mymybt{
    color:white;
    position: relative;
    bottom: 47px;

}

.myh{

    height: 300px;
    padding-top: 76px;
    font-size: 42px;
    font-weight: 700;
    background-color: #ff6262;

    
}

.sect1{
    /* height: 500px; */
    background-color: white;
}

.myp{
    width: 62%;
    font-family: monospace;
    font-weight:lighter
}

.border{
    width: 2px;
    background-color: #000;
    height: 120px;
    margin-left: 13px;
    border:1px solid #dee2e6!important;
}

.coco{
    float: right;
}

.sect2{
    height: 200px;
    background-color: white;
}

.sect2 div{
    padding-top: 40px;
}

.sect3{
    height: 200px;
    background-color: white;
}

/* we need this height */
.sect4{
    height:650px;
    background-color: white;
}

.myrow{
    position: relative;
    top: 90px;
}

.sect5{
    /* height: 500px; */
    background-color: white;
}
.sect6{
    /* height: 300px; */
    background-color: white;
}


footer{
    /* height: 500px; */
    background-color: #2d2d2d;
    margin-top: 30px;
}
.mylist{

    background-color: #f2515e;
    color: white;
    width: 87px;
    border-radius: 55px;
    height: 83px;
    margin-top: 8px;
    text-align: center;
    padding: 0px;
}

.myin{
    height: 70px;
    background-color: white;
    border-radius: 25px;

}

.figu{
    background-color: white;
    text-align: -webkit-match-parent;
    border: 2px solid white;
    width: 65%;
    height: 48px;
    font-size: larger;
    padding: 1px;
}

.subbutton{
    background-color: #f2515e;
    position: relative;
    bottom: 17px;
    border-radius: 24px;
    border:1px solid #f2515e
}

.fth5{
    color:white;
}
.fth5 ,p {
    color:white;
}
.fth4{
    color:black;
}




.mhr{
    height: 30px;
    text-align: center;
    background-color: #2d2d2d;
    width: 40%;
    color: #717171;
    margin-left: 30%;
   border-top: 1px solid #717171;
   
}
.mhr ,a {
    text-decoration: none;
    color: #717171;

}



.sec9{
    height: 500px;
    background:linear-gradient(90deg,#f75063 0,#f77244 100%);
}

.whitediv{
 

    height: 400px;
    background-color: white;
    width: 90%;
    margin-top: 35px;
}

.tf{
    color:black;
    font-family: monospace;
}
.custs{
    height: 100px;
    color:white;
    font-weight: bolder;
}

.custs h2{
    font-size: 43px;

}

